
body{
  background: #E5E5E5;
  font-family: 'Manrope', sans-serif!important;
  overflow-x: hidden;
}


/* navbar style */
.navbar{
  background:  rgba(0, 0, 0, 0.2);
}




.navbar::after{
  content: 'edcomfy';
  position: absolute;
  width: 100%;
  height: 275px;
  left: 0px;
  top: 0px;
  font-size: 10rem;
  font-weight: bold;
  text-align: right;
  color: rgba(255, 255, 255, 0.03);
  background: linear-gradient(95.51deg, #30639D -5.26%, #0F3E74 105.27%);
  z-index: -1;
}

.dropdown-toggle::before{
  content: '';
  background: #1296CE;
  position: absolute;
  bottom:5px;
  left: 0;
  width:0px;
  height: 2px;
  transition: width .3s ease-in-out;

}

.dropdown-toggle:hover::before{
  width: 5rem;
}


.greeting p{
  font-size: 2rem;
  color: #fff;
}

.container{
  position: relative;
}

.row{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: -100%;
  transition: all 1s ease-in-out;
}




.card{
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  width: 278px;
  height: 200px;
}

.card-title{
  width: 91px;
  height: 31px;
  border-radius: 3px;
  font-weight: 600;
  font-size: 12px;
  color: #FFFFFF;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.homework{
  background: linear-gradient(106.59deg, #FF9A24 0%, #DB7600 100%);
}

.test{
  background: linear-gradient(106.02deg, #52CA5E 0%, #00A510 100%);
}

.result{
  width: 71px;
  background: linear-gradient(111.41deg, #6283F8 0%, #294BC2 100%);
}

.practice{
  background: linear-gradient(109.11deg, #FF2775 0%, #D01F5F 100%);
}

.announcements{
  width: 128px;
  background: linear-gradient(101.52deg, #5FE7F0 0%, #1296CE 100%);
}

.attendance{
  background: linear-gradient(105.15deg, #9D5DEE 0%, #6315B1 100%);
}

.time-table{
  background: linear-gradient(107.43deg, #FC69FF 0%, #CE25D1 100%);
}

.gallery{
  width: 71px;
  background: linear-gradient(111.41deg, #CDE056 0%, #9AAE20 100%);
}

.middle{
  display: flex;
  justify-content: space-between;
}
.middle img{
  width: 64px;
  height: 64px;
  left: 445px;
  top: 494px;
  background: #C4C4C4;
  border-radius: 3px;
}

.card-text{
  font-size: 1rem;
  line-height: 1rem;
}

.btn-primary{
  background: #0075FF;
  box-shadow: 0px 7px 15px rgba(0, 117, 255, 0.25);
  border-radius: 3px;
}

.card:hover .btn{
  animation: buttonRotation 2s 1s linear;  
}

.btn:hover{
  animation: buttonRotation 2s 1s linear;
}

@keyframes buttonRotation{
  0% {transform: scale(1) rotatez(0)}
  5% {transform: scale(1.1) rotatez(5deg)}
  10% {transform: scale(1.1) rotatez(-5deg)}
  15% {transform: scale(1.1) rotatez(5deg)}
  10% {transform: scale(1.1) rotatez(-5deg)}
  15% {transform: scale(1.1) rotatez(5deg)}
  30% {transform: scale(1.1) rotatez(-5deg)}
  35% {transform: scale(1.1) rotatez(5deg)}
  40% {transform: scale(1.1) rotatez(-5deg)}
  45% {transform: scale(1.1) rotatez(5deg)}
  50% {transform: scale(1.1) rotatez(-5deg)}
  55% {transform: scale(1.1) rotatez(5deg)}
  60% {transform: scale(1.1) rotatez(-5deg)}
  65% {transform: scale(1.1) rotatez(5deg)}
  70% {transform: scale(1.1) rotatez(-5deg)}
  75% {transform: scale(1.1) rotatez(5deg)}
  80% {transform: scale(1.1) rotatez(-5deg)}
  85% {transform: scale(1.1) rotatez(5deg)}
  90% {transform: scale(1.1) rotatez(-5deg)}
  95% {transform: scale(1.1) rotatez(5deg)}
  100% {transform: scale(1) rotatez(0)}
}



@media(max-width: 1200px){
  .card{
    width:240px;
  }
}

@media(max-width: 994px){
  .card{
    width: 295px;
  }
}

@media(max-width: 768px){
  .navbar::after{
    font-size: 9rem; 
  }
}

@media(max-width: 590px){
  .card{
    width: 310px;
  }
  .navbar::after{
    font-size: 5rem;
    text-align:center; 
  }
}

